<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
</head>
<body>
    <h1>
        Sign up
    </h1>
    <form action="/auth/signup" method="POST">
        Name : <input name="name"><br>
        Email : <input name="email"><br>
        Username : <input name="username"><br>
        Password : <input name="password">
        <button type="submit">Submit</button>
    </form>

    <h1>
        Login
    </h1>
    <form action="/auth/login" method="POST">
        Email : <input name="email"><br>
        Password : <input name="password">
        <button type="submit">Submit</button>
    </form>

    <h1>
        Image upload
    </h1>

    <form action="/secure/imageupload" enctype="multipart/form-data" method="POST">
        <input name="image" type="file"><br>
        <button type="submit">Submit</button>
    </form>


  <h1>
        Logout
    </h1>
    <form action="/logout" method="GET">
        <button type="submit">Submit</button>
    </form>

      <h1>
        Forgot Password 
    </h1>
    <form action="/auth/resetpassword" method="POST">
        <input name="email" type="text"><br>
        <button type="submit">Submit</button>
    </form>

</body>
</html>